# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
tmp/
out/
hybris/*
!hybris/bin/
hybris/bin/*
!hybris/bin/custom/
!hybris/config/
!hybris/roles/
hybris/roles/local/tklostermann
**/classes/
**/testclasses/
**/gensrc/
**/eclipsebin/
**/.metadata/
**/hmc/bin/
**/webroot/cockpit/
**/webroot/cmscockpit/
**/addonsrc/
**/commonwebsrc/
**/_ui/addons/
**/_ui/responsive/
**/messages/addons/
**/tags/addons/
**/views/addons/
**/tld/addons/
**/target/
**/.externalToolBuilders
**/.idea
**/.gradle
**/.settings
**/idea-module-files
**/node_modules
**/_ui-src/addons/
**/hsperfdata_*
**/.DS_Store

# ----------------------------------------#
#                   Files:                #
# ----------------------------------------#

!hybris/bin/platform/tomcat/lib/tomcat7-websocket.jar
!hybris/bin/platform/tomcat/lib/websocket-api.jar
**/platformhome.properties
**/beans.xsd
**/items.xsd
**/hmc.xsd
**/extensioninfo.xsd
**/build.xml
**/dummy.txt
**/wro_addons.xml
**/css/style.css
**/*-testclasses.xml
**/*-webtestclasses.xml
**/generated-*-spring.xml
**/*-beans.out.xml
**/*.css.map
**/*.log
**/*.iml
**/*.eml
**/*.prefs
**/*.class
**/*.lo
**/*.jcoDestination
**/.lastupdate
**/*backoffice_bof.jar
**/*addon/ruleset.xml

hybris/config/licence/installedSaplicenses.properties
